<!-- <div class="card flex justify-center">
    <p-button label="Check" (click)="toggleDarkMode()" />
</div> -->

<!-- header.component.html -->
<nav class="nav-container" role="navigation" aria-label="Main Navigation">
  <div class="logo">DAVID CARDENAS</div>

  <!-- Hamburger Icon -->
  <div class="hamburger" (click)="toggleMenu()" aria-label="Menu">
    &#9776;
  </div>

  <!-- Navigation Links -->
  <ul [class.active]="menuOpen" class="nav-menu">
    <li><a routerLink="/" routerLinkActive="active">{{ 'HOME' | translate }}</a></li>
    <li><a routerLink="/about">{{ 'ABOUT' | translate }}</a></li>
    <li><a routerLink="/work">{{ 'WORK' | translate }}</a></li>
    <li><a routerLink="/blog">{{ 'BLOG' | translate }}</a></li>
    <li><a routerLink="/more">{{ 'MORE' | translate }}</a></li>
    <li><a routerLink="/contact" class="book-call">{{ 'BOOK_CALL' | translate }}</a></li>
    <li>
      <button (click)="switchLang()" class="lang-btn">{{ currentLang === 'en' ? 'ES' : 'EN' }}</button>
    </li>
  </ul>
</nav>