<section class="homepage">
  <h1>
  Crafting scalable and elegant <br class="line-break"/>
  solutions for real-world <em>digital challenges</em>
</h1>
  <p class="actions">Hello, I'm David Cardenas <img src="assets/img/profile.jpeg" alt="Profile" class="profile-pic"/> a Full Stack Developer</p>
  <div class="actions">
    <button class="connect-button">
        <span class="label">Let’s Connect</span>
        <img src="assets/icons/arrow_forward.png" alt="Enviar" class="icon" />
    </button>
    <a href="mailto:">cardenasp456&#64;gmail.com</a>
  </div>
</section>
